@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --texColor1: #ffffff;
  --buttonColor: #ee626b;
  --iconbg: #0071f8;
  --navHoverColor: #1b7ffa;
}
.header-and-hero-section {
  width: 100%;
  height: auto;
  background: url("./images/banner-bg.jpg");
}
header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 2.5rem 4.5rem;
}
.logo {
  cursor: pointer;
}
.nav-and-navbtn {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 2.5rem;
}
.hamburger {
  display: none;
}
.nav {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}
.nav div {
  width: fit-content;
  height: auto;
  padding: 0.6rem 1rem;
  border-radius: 35px;
}
.nav div:hover {
  background: var(--navHoverColor);
}
.nav div a {
  text-decoration: none;
  color: var(--texColor1);
  font-weight: 300;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}
.nav-btn {
  width: fit-content;
  height: auto;
}
.nav-btn button {
  padding: 0.7rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 35px;
  font-weight: 600;
  background: var(--buttonColor);
  color: var(--texColor1);
  cursor: pointer;
}
