@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --texColor1: #ffffff;
  --buttonColor: #ee626b;
  --iconbg: #0071f8;
  --navHoverColor: #1b7ffa;
}
.header-and-hero-section {
  position: relative;
  width: 100%;
  height: auto;
  background: url("./images/banner-bg.jpg");
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
}
header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 4.5rem;
}
.logo {
  cursor: pointer;
}
.nav-and-navbtn {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 2.5rem;
}
.hamburger {
  display: none;
}
.nav {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}
.nav div {
  width: fit-content;
  height: auto;
  padding: 0.6rem 1rem;
  border-radius: 35px;
  transition: all 0.5s ease;
}
.nav div:hover {
  background: var(--navHoverColor);
}
.nav div a {
  text-decoration: none;
  color: var(--texColor1);
  font-weight: 300;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}
.nav-btn {
  width: fit-content;
  height: auto;
}
.nav-btn button {
  padding: 0.7rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 35px;
  font-weight: 600;
  background: var(--buttonColor);
  color: var(--texColor1);
  cursor: pointer;
}

/* Hero Section */
.hero-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 4rem 4.5rem 2rem 4.5rem;
}
.left-hand-side {
}
.intro-text {
  color: #ffffff;
  font-size: 1.35rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.hero-section h1 {
  font-size: clamp(2rem, 1.5vw + 2rem, 4rem);
  color: var(--texColor1);
  line-height: 60px;
  margin-bottom: 2.5rem;
}
.inro-text-2 {
  color: var(--texColor1);
  font-size: 0.9rem;
  line-height: 2;
}
.search-bar {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  margin-top: 3.5rem;
}
.search-input {
  width: 100%;
  height: auto;
  padding: 0.9rem;
  border: none;
  outline: none;
  border-radius: 35px;
}
.search-btn {
  border: none;
  outline: none;
  padding: 0.76rem 1.2rem;
  border-radius: 35px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background: var(--buttonColor);
  color: var(--texColor1);
  font-weight: 600;
  transition: all 0.5s ease;
  cursor: pointer;
}
.search-btn:hover {
  background-color: #0171f9;
}
.right-hand-side {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}
.right-hand-side-img {
  width: 85%;
  height: auto;
  border-radius: 30px;
}
.right-hand-side-img img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.label {
  position: absolute;
  bottom: -1rem;
  left: 1.7rem;
  width: 100px;
  height: 100px;
  background: var(--buttonColor);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.label p {
  color: var(--texColor1);
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 50%;
}
.feature-div {
  position: relative;
  top: 6rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  text-align: center;
}
.feature {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem 4rem;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.icon {
  margin-bottom: 1.5rem;
}
.icon span {
  width: fit-content;
  height: auto;
  background: var(--iconbg);
  padding: 1rem;
  font-size: 4rem;
  border-radius: 50%;
  color: var(--texColor1);
  transition: all 0.3s ease;
}
.feature:hover .icon1 span,
.feature:hover .icon2 span,
.feature:hover .icon3 span,
.feature:hover .icon4 span {
  background-color: var(--buttonColor);
}
.text {
  width: fit-content;
  height: auto;
}
.text p {
  font-weight: 800;
}
